#cart{
    border: 5px solid black;
    height: 300px;
    width: 300px;
    /* display: flex; */
}
.nave{
    height: 20px;
    width: 100%;
    background-color: aqua;
}

.list{
    display: flex;
    /* justify-content: end; */
    gap: 10px;
    
    
    
}
