#container-box {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 560px;
    gap: 4px;
}
.box {
    border: 2px solid #1cc79f;
    width: 140px;
    height: 250px;
    background-color: antiquewhite;
}
.box:nth-child(1) {
    background-color: rgb(255, 99, 71);
    display: flex;
    flex-direction: column;
}
.box:nth-child(2) {
    background-color: rgb(255, 206, 86);
    display: flex;
    flex-direction: row;
}
.box:nth-child(3) {
    background-color: rgb(54, 162, 235);
    display: flex  ;
    flex-direction: column;
}
.box:nth-child(4) {
    background-color: rgb(75, 192, 192);
    display: flex;
    flex-direction: row;
}
.part {
    width: auto;
    height: 50%;
}
.box:nth-child(1) >div,
.box:nth-child(3) >div {
    width: auto;
    height: 50%;
}
.box:nth-child(2) >div,
.box:nth-child(4) >div {
    width: 50%;
    height: auto;
}
img{
    width: 100%;
    height: 100%;
}
.box hover{
    background-color: #1cc79f;
}